.diaries {
  display: flex;
  gap: 30px;
}

.diary {
  margin: 0px 30px 0px 20px;
  width: 700px;
}

.diary .dbDiary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 100px 68px;
  gap: 10px;
  position: relative;
  width: 684px;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 18px 28px rgba(7, 45, 87, 0.15), 0px 0px 1px rgba(7, 45, 87, 0.31);
  border-radius: 30px;
}

.diary .dbDiary .dateBg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;
  width: 158px;
  height: 44px;
  background: #072D57;
  border-radius: 0px 0px 12px 12px;
  flex-shrink: 0;
}

.diary .dbDiary .dateBg .date {
  width: 158px;
  height: 20px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
}

.diary .dbDiary .title {
  width: auto;
  height: auto;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin: 30px 0px 10px 0px;
  line-height: 54px;
  color: #072D57;
  word-break: keep-all;
}

.diary > .dbDiary > .line {
  width: 484px;
  height: 0px;
  border: 1px solid #DDE2E8;
}

.diary > .dbDiary > .body {
  width: 484px;
  height: auto;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #5E5E5E;
  word-break: keep-all;
}

.diary .dbDiary .keywords {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  gap: 24px;
  width: auto;
  height: 72px;
  border: 2px dashed #072D57;
  border-radius: 5px;
}

.diary .dbDiary .keywords .keyword1st,
.diary .dbDiary .keywords .keyword2nd,
.diary .dbDiary .keywords .keyword3rd {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px;
  gap: 4px;
  width: auto;
  height: 32px;
  background-color: #DDE2E8;
  border: 1px solid #BABABA;
  border-radius: 2px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #072D57;
}

.diary-buttons {
  display: flex;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.btnSave {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px;
  gap: 4px;
  width: auto;
  height: 32px;
  background-color: #DDE2E8;
  border: 1px solid #BABABA;
  border-radius: 2px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #072D57;
  align-self: center;
}

.btnSave:hover {
  background-color: #b0b0b0;
}

.heartContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.svgHeart {
  width: auto;
  height: auto;
  background: #ffffff00;
  background-size: auto;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  margin: -50px 0px 0px 0px;
}
/* 
.svgHeart {
  scale: 50%;
  width: auto;
  height: auto;
  background: #ffffff00;
  background-size: auto;
  border-radius: 20px;
  padding: 10px;
  align-self: center;
} */

.svgHeart:hover {
  background: #FFD2EA;
}

.svgHeart:hover g {
  clip-path: url(#clip0_1_23);
}

.svgHeart:hover g > path {
  fill : #EC007F;
  d: path("M37.5 66.7188L32.9688 62.5938C16.875 48 6.25 38.375 6.25 26.5625C6.25 16.9375 13.8125 9.375 23.4375 9.375C28.875 9.375 34.0938 11.9063 37.5 15.9063C40.9062 11.9063 46.125 9.375 51.5625 9.375C61.1875 9.375 68.75 16.9375 68.75 26.5625C68.75 38.375 58.125 48 42.0312 62.625L37.5 66.7188Z");
}

.svgHeart:hover defs > clipPath {
  id: path("clip0_1_23");
}

.imageContainer {
  width: auto;
  padding: 0px 20px 20px;
  display: flex;
  align-self: center;
  overflow-x: auto;
  gap: 10px;
}

.imageContainer img {
  width: 30%;
  height: 30%;
  align-self: center;
}

/* 모바일 환경에서의 스타일 조정 */
@media (max-width: 768px) {
  .diary {
    width: 90%;
    margin: 40px 20px 0px 20px;
  }

  .diary .dbDiary {
    width: 100%;
    padding: 0px 20px 40px;
  }

  .diary .dbDiary .dateBg {
    width: 70%;
    align-self: center;
  }

  .diary .dbDiary .dateBg .date {
    width: 100%;
    text-align: center;
  }

  .diary .dbDiary .title {
    width: 95%;
    font-size: 23px;
    line-height: 40px;
    align-self: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px;
    text-align: center;
  }

  .diary .dbDiary .line {
    width: 85%;
  }

  .diary .dbDiary .body {
    width: 95%;
    padding: 0px 10px;
    font-size: 15px;
    line-height: 25px;
    align-self: center;
  }

  .diary .dbDiary .keywords {
    width: 90%;
    border: 1.2px dashed #072D57;
    gap: inherit;
    padding: 1px;
    align-self: center;
  }

  .diary .dbDiary .keywords .keyword1st {
    font-size: 70%;
    /* 모바일 화면에서 keyword1st의 스타일을 조정할 수 있습니다. */
  }

  .diary .dbDiary .keywords .keyword2nd {
    font-size: 70%;
    /* 모바일 화면에서 keyword2nd의 스타일을 조정할 수 있습니다. */
  }

  .diary .dbDiary .keywords .keyword3rd {
    font-size: 70%;
    /* 모바일 화면에서 keyword3rd의 스타일을 조정할 수 있습니다. */
  }

}
